# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Fymek\Desktop\Studia\Podstawy_Programowania\programowanie_w_c\cwiczenia\Fymek\OU_Clion_Git\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
